<head>
    <link rel="stylesheet" href="~/css/output.css"/>
</head>

<!-- about section -->
<section class="w-2/3 mx-auto p-4 mb-20">
    <div class="mb-10 flex flex-col gap-4">
        <h2 class="text-4xl">
            About Us
        </h2>
        <p class="text-md">
            Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
        </p>
    </div>
    <div class="flex gap-8">
        <div>
            <div>
                <img src="~/images/about-img.jpg" alt="">
            </div>
        </div>
        <div >
            <div class="flex flex-col gap-4">
                <h3 class="text-2xl">
                    We Are Here For Help
                </h3>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                    in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                    are going to use a passage to be sure there isn't anything
                    the middle of text.
                </p>
                <p>
                    Molestiae odio earum non qui cumque provident voluptates, repellendus exercitationem, possimus at iste corrupti officiis unde alias eius ducimus reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
                </p>
                <a href="">
                    Read More
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->