<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/output.css" />
</head>
<body>

<div class="app min-h-screen flex flex-col">
    <header class="flex justify-between py-4 px-10 shadow-md">
        <div>
            <h1 class="text-2xl text-[#006d77]">
                ParkWhiz
            </h1>
        </div>
        <nav class="flex-grow">
            <ul class="flex justify-end">
                <li class="mx-4 hover:underline">Profile</li>
                <li class="mx-4 hover:underline">Sign Out</li>
            </ul>
        </nav>
    </header>

    @RenderBody()
    <footer class="mt-auto">
        <div class="text-center p-4 bg-[#006d77] text-white">
            © 2023 Copyright: ParkWhiz
        </div>
    </footer>
</div>

</body>
</html>