@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model Parking_App.Models.User
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div class="app-wrapper w-3/4 mx-auto mt-12">
            <form method="post" enctype="multipart/form-data"
                class="flex gap-20">
                <div class="flex flex-col gap-6">
                    <h2 class="text-2xl">Your Photo</h2>
                    @if(Model.ProfileName!=null)
                     {
                        <img src="/Uploads/@Model.Id/@Model.ProfileName" alt="profile image" style="height: 300px; ">

                     } else {
                            <img src="/Uploads/profile.webp" alt="profile image" style="height: 300px; ">
                     }
                    <input type="file" name="profile" id="profile" />
                    <span>@ViewBag.Message</span>
                </div>

                <div class="flex flex-col gap-6">
                    <h2 class="text-2xl">Your Profile</h2>
                    <div>
                        <label for="fname" class="mb-2">First Name</label>
                        <div class="relative">
                            <input type="text" class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-lg"
                                value="@Context.Request.Cookies["user"]" name="name" id="name" />
                        </div>
                    </div>

                    <div>
                        <label for="email" class="mb-2">Email</label>
                        <div class="relative">
                            <input type="email" class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-lg"
                                value="@Context.Request.Cookies["email"]" name="email" id="email" />
                        </div>
                    </div>

                    <div class="flex items-center justify-center">
                        <button onclick="submitProfilePic()"
                            class="ml-3 inline-block rounded-lg bg-[#006d77] px-5 py-3 text-sm font-medium text-white">
                            Save Changes
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            const submitProfilePic = () => {
                // Get the input fields and file from the DOM
                const name = document.getElementById('name').value;
                const email = document.getElementById('email').value;
                const profile = document.getElementById('profile').files[0];

                // Create a new FormData object
                const formData = new FormData();

                // Add the input fields and file to the form data
                formData.append('name', name);
                formData.append('email', email);
                formData.append('profile', profile);

                // Make the AJAX request
                $.ajax({
                    url: '/Profile/Index',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        </script>
    </body>

</html>