@model Parking_App.Models.ParkingSpot
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <title>Parking Spot</title>

</head>
<body>
<section class="w-2/3 mx-auto mt-20">
    <div class="h-96 overflow-hidden">
        <img
            src="https://images.unsplash.com/photo-1583073491690-3adcab1b7bdc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFya2luZyUyMHNwb3R8ZW58MHx8MHx8&auto=format&fit=crop&w=2000&q=60"
            alt="">
    </div>

    <h1 class="text-2xl mt-10">@Model.name</h1>
    <h3 class="text-lg text-gray-400">@Model.city</h3>
    <div class="flex justify-between mt-10 flex-shrink">
        <div class="grid grid-cols-2 gap-6 w-3/5 ">
            <div class="flex flex-col gap-4 border rounded-lg p-2">
                <h3 class="text-lg">Feature 1</h3>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="flex flex-col gap-4 border rounded-lg p-2">
                <h3 class="text-lg">Feature 2</h3>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="flex flex-col gap-4  border rounded-lg p-2">
                <h3 class="text-lg">Feature 3</h3>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="flex flex-col gap-4 border rounded-lg p-2">
                <h3 class="text-lg">Feature 4</h3>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
        <div class="flex gap-4 flex-col w-1/3 border p-6 rounded-xl">
            <span class="text-lg font-medium">Rs @Model.price / night</span>
            <hr>
            <span class="text-green-400">Available</span>
            <p>
                This place is available and can be approached at any time without prior reservation. Carry out check-in on
                site.
            </p>
            <button class="p-4 bg-[#006d77] text-white text-lg rounded-3xl"><a href="/ParkingSpot/book/@Model.ID">check-in</a></button>
        </div>
    </div>
</section>
</body>

</html>
