@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div class="app-wrapper w-3/4 mx-auto mt-12">
    <form action="#" method="post" class="flex gap-20" name="Update">
        <div class="flex flex-col gap-6">
            <h2 class="text-2xl">Your Photo</h2>
            <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="" style="height: 300px; ">
            <input type="file" name="photo" id="photo"/>
        </div>

        <div class="flex flex-col gap-6">
            <h2 class="text-2xl">Your Profile</h2>
            <div>
                <label for="fname" class="sr-only">First Name</label>
                <div class="relative">
                    <input type="text" class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-lg"
                           placeholder="Your Name" name="fname" id="fname"/>
                </div>
            </div>

            <div>
                <label for="lname" class="sr-only">Last Name</label>
                <div class="relative">
                    <input type="text" class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-lg"
                           placeholder="Your Name" name="lname" id="lname"/>
                </div>
            </div>

            <div>
                <label for="email" class="sr-only">Email</label>
                <div class="relative">
                    <input type="email" class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-lg"
                           placeholder="Enter email" name="email" id="email"/>
                </div>
            </div>

            <div>
                <label for="phone" class="sr-only">Phone</label>
                <div class="relative">
                    <input type="text" class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-lg" placeholder="Phone"
                           name="phone" id="phone"/>
                </div>
            </div>


            <div class="flex items-center justify-center">
                <button type="submit"
                        class="ml-3 inline-block rounded-lg bg-[#006d77] px-5 py-3 text-sm font-medium text-white">
                    Save Changes
                </button>
            </div>
        </div>
    </form>
</div>
</body>

</html>